{
  "name": "Scoutberlin-meta",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sources/index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/001_grid.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/001_grid.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/scss/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/css/styles.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sources/scripts/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/main.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "sources/scripts/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/app.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "sources/views/001_grid.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/001_grid.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/002_list.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/002_list.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/003_item.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/003_item.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/004_company_prem.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/004_company_prem.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/007_company_business.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/007_company_business.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/008_company_start.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/008_company_start.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/009_company_econom.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/009_company_econom.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/005_cabinet.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/005_cabinet.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/006_cabinet_plans.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/006_cabinet_plans.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/010_profile_edit.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/010_profile_edit.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/012_profile_settings.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/012_profile_settings.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/014_basket_plans.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/014_basket_plans.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/016_basket_riseads.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/016_basket_riseads.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/018_basket_promoads.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/018_basket_promoads.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/015_shop_riseads.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/015_shop_riseads.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/017_shop_promoads.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/017_shop_promoads.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/019_thank_you.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/019_thank_you.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/034_404.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/034_404.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/023_new_ad.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/023_new_ad.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/025_new_company.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/025_new_company.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/026_favorites_ads.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/026_favorites_ads.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/027_favorites_companies.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/027_favorites_companies.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/033_new_company_start.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/033_new_company_start.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/028_contacts.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/028_contacts.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/029_faq.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/029_faq.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/030_developers.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/030_developers.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/020_email.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/020_email.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/031_company_directory.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/031_company_directory.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/013_profile_myscore.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/013_profile_myscore.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/022_profile_myads.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/022_profile_myads.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/024_profile_mycompanies.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/024_profile_mycompanies.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/000_index_page.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/000_index_page.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/021_my_messages.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/021_my_messages.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/003_map__view.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/003_map__view.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/scss/print.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/css/print.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "sources/views/035_print_add.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/035_print_add.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "sources/views/036_print_invoice.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/036_print_invoice.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sources",
      "sources/views"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": true
  },
  "imports": [
    {
      "path": "sources/scripts/main.js",
      "imports": [
        "sources/scripts/plugins/owl.carousel.js",
        "sources/scripts/plugins/slick.js",
        "sources/scripts/plugins/popup.js",
        "sources/scripts/plugins/transition.js",
        "sources/scripts/plugins/dropdown.js",
        "sources/scripts/plugins/collapse.js",
        "sources/scripts/plugins/selectbox.js",
        "sources/scripts/plugins/multiselect.js",
        "sources/scripts/plugins/scrollbar.js"
      ]
    },
    {
      "path": "sources/scss/print.scss",
      "imports": [
        "sources/scss/lib/normalize.scss"
      ]
    },
    {
      "path": "sources/scss/styles.scss",
      "imports": [
        "sources/scss/lib/normalize.scss",
        "sources/scss/lib/grid.scss",
        "sources/scss/lib/global.scss",
        "sources/scss/plugins/owl.carousel.scss",
        "sources/scss/plugins/slick.scss",
        "sources/scss/plugins/popup.scss",
        "sources/scss/plugins/selectbox.scss",
        "sources/scss/plugins/multiselect.scss",
        "sources/scss/plugins/mCustomScrollbar.scss",
        "sources/scss/models/header.scss",
        "sources/scss/models/filters.scss",
        "sources/scss/models/banners.scss",
        "sources/scss/models/breadcrumbs.scss",
        "sources/scss/models/pagination.scss",
        "sources/scss/models/gallery.scss",
        "sources/scss/models/catalog.scss",
        "sources/scss/models/company.scss",
        "sources/scss/models/cabinet.scss",
        "sources/scss/models/profile.scss",
        "sources/scss/models/basket.scss",
        "sources/scss/models/buy.scss",
        "sources/scss/models/create.scss",
        "sources/scss/models/favorites.scss",
        "sources/scss/models/contacts.scss",
        "sources/scss/models/faq.scss",
        "sources/scss/models/directory.scss",
        "sources/scss/models/main__page.scss",
        "sources/scss/models/crud.scss"
      ]
    },
    {
      "path": "sources/views/000_index_page.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/001_grid.pug",
      "imports": [
        "sources/views/models/layout2.pug",
        "sources/views/models/filters.pug",
        "sources/views/models/catalog__viewed.pug",
        "sources/views/models/header.signed.pug"
      ]
    },
    {
      "path": "sources/views/002_list.pug",
      "imports": [
        "sources/views/models/layout2.pug",
        "sources/views/models/filters.pug",
        "sources/views/models/catalog__viewed.pug",
        "sources/views/models/header.signed.pug"
      ]
    },
    {
      "path": "sources/views/003_item.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/catalog__viewed.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/003_map__view.pug",
      "imports": [
        "sources/views/models/layout2.pug",
        "sources/views/models/filters.pug",
        "sources/views/models/catalog__viewed.pug",
        "sources/views/models/header.signed.pug"
      ]
    },
    {
      "path": "sources/views/004_company_prem.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/company__panel.pug",
        "sources/views/models/company__comments.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/005_cabinet.pug",
      "imports": [
        "sources/views/models/layout2.pug",
        "sources/views/models/catalog__viewed.pug",
        "sources/views/models/header.signed.pug"
      ]
    },
    {
      "path": "sources/views/006_cabinet_plans.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/007_company_business.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/company__panel.pug",
        "sources/views/models/company__comments.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/008_company_start.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/company__comments.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/009_company_econom.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/company__comments.pug",
        "sources/views/models/company__panel.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/010_profile_edit.pug",
      "imports": [
        "sources/views/models/layout2.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.signed.pug"
      ]
    },
    {
      "path": "sources/views/012_profile_settings.pug",
      "imports": [
        "sources/views/models/layout2.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.signed.pug"
      ]
    },
    {
      "path": "sources/views/013_profile_myscore.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/014_basket_plans.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/015_shop_riseads.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/016_basket_riseads.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/017_shop_promoads.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/018_basket_promoads.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/019_thank_you.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/021_my_messages.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/022_profile_myads.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/023_new_ad.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/024_profile_mycompanies.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/directory__viewed.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/025_new_company.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/026_favorites_ads.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/027_favorites_companies.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/028_contacts.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/029_faq.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/030_developers.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/031_company_directory.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/filters_directory.pug",
        "sources/views/models/directory__viewed.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/033_new_company_start.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/breadcrumbs.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/034_404.pug",
      "imports": [
        "sources/views/models/layout.pug",
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/models/layout.pug",
      "imports": [
        "sources/views/models/header.unsigned.pug"
      ]
    },
    {
      "path": "sources/views/models/layout2.pug",
      "imports": [
        "sources/views/models/header.signed.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7886,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-node-sass\":{\"outputStyle\":\"compact\"},\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\",\"compiler-uglify-js\":{\"mangle\":false}}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}