.catalog {
  &__featured {
    &--item {
      text-decoration: none;
      display: block;
      position: relative;
      margin-bottom: 15px;

      &:after {
        content: '';
        display: block;
        width: 44px;
        height: 44px;
        position: absolute;
        right: -2px;
        top: -2px;
        background: url(../img/featured.svg) no-repeat;
        background-size: cover;
      }

      .image {
        display: block;
        overflow: hidden;
      }

      &:hover .image {
        background-color: #1d7fe0;
      }

      img {
        display: block;
        width: 100%;
        transition: .25s linear;
      }
      &:hover img {
        opacity: 0.5;
        filter: grayscale(1);
        transform: scale(1.25)
      }

      .caption {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15px;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

        &__title {
          font-size: 24px;
          color: #ffffff;
          display: block;
        }

        &__info {
          display: flex;
          align-items: center;

        }

        &__adress {
          font-size: 16px;
          color: #ffffff;
          flex: 1;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &__price {
          font-size: 16px;
          color: #ffffff;
          padding-left: 15px;
          opacity: 0.6;
        }

      }
  



    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 15px 0 30px;

    @include smallDown {
      display: block;
      text-align: center;
    }

    &--title {
      display: block;
      margin: 0;
      padding: 0;
      flex: 1;
      font-size: 32px;
      line-height: 1;

      @include smallDown {
        margin-bottom: 15px;
      }
    }

    &--buttons {
      font-size: 0;
      white-space: nowrap;
      flex: none;

      a {
        display: inline-block;
        text-decoration: none;
        margin-left: 30px;
        color: #010101;
        opacity: 0.6;

        @include smallDown {
          margin: 0 15px;
        }

        &:hover {
          opacity: 1;
        }

        &.active {
          color: #1d7fe0;
          opacity: 1;
        }

        svg {
          display: block;
          width: 16px;
          height: 16px;
          fill: currentColor;
        }
      }
    }
  }

  &__grid {
    &--item {
      text-decoration: none;
      display: block;
      position: relative;
      margin-bottom: 30px;

      .image {
        display: block;
        overflow: hidden;
      }

      &:hover .image {
        background-color: #1d7fe0;
      }
      .image {
        display: block;
        overflow: hidden;
      }

      img {
        display: block;
        width: 100%;
        transition: .25s linear;
        transform: scale(1)
      }
      &:hover img {
        opacity: 0.5 !important;
        filter: grayscale(1);
        transform: scale(1.25)
      }

      .caption {
        display: block;
        background-color: #ffffff;
        line-height: 1;
        padding: 15px;

        &__title {
          font-size: 24px;
          color: #010101;
          display: block;
        }

        &__info {
          display: flex;
          align-items: center;

        }

        &__adress {
          font-size: 16px;
          color: #010101;
          flex: 1;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &__price {
          font-size: 16px;
          color: #010101;
          padding-left: 15px;
          opacity: 0.6;
        }
      }





    }
  }

  &__viewed {
    overflow: hidden;
    padding: 15px 0;

    h2 {
      font-size: 24px;
      margin: 0 0 15px;
    }
  }
}