extends models/layout
block content
  .company
    .container
      include models/breadcrumbs
      .row
        .col.lg-9.md-8
          .company__header
            .company__header--info
              .company--title Offworld Industries Inc.
              .company--stats
                .company--stats__item: span На сайте с Jun 18, 2018
            .company__header--controls
              a(href="").star: svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"): polygon(points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2")
              a(href=""): svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M20 8h-1V2c0-.6-.4-1-1-1H6c-.6 0-1 .4-1 1v6H4a3 3 0 0 0-3 3v5a3 3 0 0 0 3 3h1v3c0 .6.4 1 1 1h12c.6 0 1-.4 1-1v-3h1a3 3 0 0 0 3-3v-5a3 3 0 0 0-3-3zM7 3h10v5H7V3zm10 18H7v-6h10v6zm4-5c0 .6-.4 1-1 1h-1v-3c0-.6-.4-1-1-1H6c-.6 0-1 .4-1 1v3H4c-.6 0-1-.4-1-1v-5c0-.6.4-1 1-1h16c.6 0 1 .4 1 1v5z")
              a(data-mfp-src="#report" data-mfp-type="inline"): svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24")
                path(d="M12 1C5.9 1 1 5.9 1 12s4.9 11 11 11 11-4.9 11-11S18.1 1 12 1zm0 20c-5 0-9-4-9-9s4-9 9-9 9 4 9 9-4 9-9 9z")
                path(d="M12 11c-.6 0-1 .4-1 1v4c0 .6.4 1 1 1s1-.4 1-1v-4c0-.6-.4-1-1-1zM12.9 7.6l-.1-.2-.1-.1c-.3-.3-.7-.4-1.1-.2l-.3.2-.1.1-.1.2-.1.2V8c0 .3.1.5.3.7l.3.2.4.1h.2l.2-.1.2-.1.1-.1c.2-.2.3-.4.3-.7v-.2l-.1-.2z")
          .company__description
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
          include models/company__comments
        .col.lg-3.md-4
          .company__panel
            .company__panel--item.controls
            .company__panel--item.phone
              .item--label Телефон:
              span +434 234 XX XX
              a(href="") Показать
            .company__panel--item.user
              .item--label Контактное лицо:
              span Константин Константинопольский
            .company__panel--item.adress
              .item--label Адрес:
              span Motorstraße 895, 70219 Stuttgart, Germany
            .map--container: #company_map
