extends models/layout
block content
  section.buy
    .container
      include models/breadcrumbs
      .buy__header Пакеты поднятия объявлений
      .raising__ads: .row
        .col.sm-6.md-3
          .raising__ads--item
            .item__value
              span 10
              small поднятий
            .item__price 99 €
            .item__controls: a(href="").btn.block.blue
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M20.7 5.3a1 1 0 0 0-1.4 0L9 15.6l-4.3-4.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l5 5c.2.2.4.3.7.3s.5-.1.7-.3l11-11c.4-.4.4-1 0-1.4z")
              span Купить
            .item__bonus + 2 обновления в подарок
        .col.sm-6.md-3
          .raising__ads--item
            .item__value
              span 20
              small поднятий
            .item__price 299 €
            .item__controls: .current--plan Мой пакет
            .item__bonus + 4 обновления в подарок
        .col.sm-6.md-3
          .raising__ads--item
            .item__value
              span 50
              small поднятий
            .item__price 399 €
            .item__controls: a(href="").btn.block.blue
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M20.7 5.3a1 1 0 0 0-1.4 0L9 15.6l-4.3-4.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l5 5c.2.2.4.3.7.3s.5-.1.7-.3l11-11c.4-.4.4-1 0-1.4z")
              span Купить
            .item__bonus + 6 обновлений в подарок
        .col.sm-6.md-3
          .raising__ads--item
            .item__value
              span 100
              small поднятий
            .item__price 599 €
            .item__controls: a(href="").btn.block.blue
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M20.7 5.3a1 1 0 0 0-1.4 0L9 15.6l-4.3-4.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l5 5c.2.2.4.3.7.3s.5-.1.7-.3l11-11c.4-.4.4-1 0-1.4z")
              span Купить
            .item__bonus + 10 обновлений в подарок














