extends models/layout
block content
  section.basket
    .container
      include models/breadcrumbs
      .basket__header Корзина
      .row
        .col.md-6
          .basket__ads
            .basket__ads--title Поднятие объявлений
            .basket__ads--value
              small Количество
              span 20 поднятий
            .basket__ads--summ
              small Сумма
              span 10 €
          .basket__ads--info: p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
        .col.md-6
          .basket__payment
            .basket__payment--header Выберите метод оплаты
            .row
              .col.sm-4: .basket__payment--item
                input#paypal(type="radio", name="payment")
                label(for="paypal"): img(src="img/paypal.png", alt="")
              .col.sm-4: .basket__payment--item
                input#visa(type="radio", name="payment")
                label(for="visa"): img(src="img/visa.png", alt="")
              .col.sm-4: .basket__payment--item
                input#sofort(type="radio", name="payment")
                label(for="sofort"): img(src="img/sofort.png", alt="")
            button.btn.blue()
              svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M20.7 5.3a1 1 0 0 0-1.4 0L9 15.6l-4.3-4.3c-.4-.4-1-.4-1.4 0s-.4 1 0 1.4l5 5c.2.2.4.3.7.3s.5-.1.7-.3l11-11c.4-.4.4-1 0-1.4z")
              span Оплатить
