extends models/layout
block content
  section.directory
    .container
      .row
        .col.lg-3.md-4
          include models/filters_directory
          .banner__group
            a(href="").banner__item
              img(src="img/banner-1.png", alt="")
              span.caption
                span.caption__title Harley Benton
                span.caption__price $ 35 000 
            a(href="").banner__item
              img(src="img/banner-1.png", alt="")
              span.caption
                span.caption__title Harley Benton
                span.caption__price $ 35 000 
        .col.lg-9.md-8
          .directory__intro
            .row
              .col.lg-8.md-7
                .row
                  -for(i=1;i<=9;i++)
                    .col.sm-4
                      a(href="").directory__intro--item
                        img(src="img/company-logo.png", alt="")
                        span Offworld Industries Inc.
              .col.lg-4.md-5
                .banner__group
                  a(href="").banner__item
                    img(src="img/banner-1.png", alt="")
                    span.caption
                      span.caption__title Harley Benton
                      span.caption__price $ 35 000 
          .directory__list
            .directory__list--title Справочник компаний
            -for(i=1;i<=6;i++)
              .directory__list--item 
                .item__image: img(src="img/company-logo.png", alt="")
                .item__body
                  .item__title 
                    span Offworld Industries Inc.
                    small.item__lang
                      img(src="img/en.png", alt="")
                      img(src="img/ru.png", alt="")
                      img(src="img/de.png", alt="")
                  .item__region Bavaria
                  .item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                .item__controls
                  .item__controls--top
                    .item__phone
                      .item__phone--label Телефон:
                      span +434 234 XX XX
                      a(href="") Показать
                    a.btn.blue(data-mfp-src="#message" data-mfp-type="inline")
                      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M23 1.9l-.1-.3v-.1l-.2-.3-.3-.2h-.1L22 .9V1l-.3.1-20 7c-.4.1-.7.4-.7.9 0 .4.2.8.6 1l8.6 3.8 3.8 8.6c.2.4.5.6.9.6s.8-.3.9-.7l7-20c.2-.1.2-.2.2-.4 0 .1 0 .1 0 0zm-4.8 2.5l-7.4 7.4-6.1-2.7 13.5-4.7zm-3.3 14.9l-2.7-6.1 7.4-7.4-4.7 13.5z")
                      span Отправить сообщение
                  .item__controls--bottom
                    .item__readmore: a(href="")
                      span Подробнее
                      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M20 12c0-.4-.2-.6-.4-.8l-6.9-6.9c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l5.3 5.3H5c-.6 0-1 .4-1 1s.4 1 1 1h11.6l-5.3 5.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3s.5-.1.7-.3l6.9-6.9c.2-.2.4-.4.4-.8z")
            .pagination
              ul
                li: a(href='#'): svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M19 11H7.4l5.3-5.3c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-6.9 6.9c-.2.2-.4.4-.4.8s.2.6.4.8l6.9 6.9c.2.2.4.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4L7.4 13H19c.6 0 1-.4 1-1s-.4-1-1-1z")
                li: a(href='#') 1
                li: a(href='#') 2
                li.current: span 3
                li.separator: span ...
                li: a(href='#') 7
                li: a(href='#') 8
                li: a(href='#') 9
                li: a(href='#'): svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M20 12c0-.4-.2-.6-.4-.8l-6.9-6.9c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l5.3 5.3H5c-.6 0-1 .4-1 1s.4 1 1 1h11.6l-5.3 5.3c-.4.4-.4 1 0 1.4.2.2.4.3.7.3s.5-.1.7-.3l6.9-6.9c.2-.2.4-.4.4-.8z")
    #message.mfp-hide.popup__default
      h3.popup__default--header Сообщение автору объявления
      textarea(cols="30", rows="10")
      button.btn.blue
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M23 1.9l-.1-.3v-.1l-.2-.3-.3-.2h-.1L22 .9V1l-.3.1-20 7c-.4.1-.7.4-.7.9 0 .4.2.8.6 1l8.6 3.8 3.8 8.6c.2.4.5.6.9.6s.8-.3.9-.7l7-20c.2-.1.2-.2.2-.4 0 .1 0 .1 0 0zm-4.8 2.5l-7.4 7.4-6.1-2.7 13.5-4.7zm-3.3 14.9l-2.7-6.1 7.4-7.4-4.7 13.5z")
        span Отправить 

  include models/directory__viewed
  section.about__site
    .container
      .about__site--title Skout Berlin — Сайт объявлений в Германии
      .row
        .col.md-6
          .about__site--left
            .about__site--intro: p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. 
            p Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он.
            p Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.
        .col.md-6
          .about__site--right
            .about__site--intro: p Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. 
            p Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло. Его многочисленные, убого тонкие по сравнению с остальным телом ножки беспомощно копошились у него перед глазами. «Что со мной случилось?» – подумал он.
            p Это не было сном. Его комната, настоящая, разве что слишком маленькая, но обычная комната, мирно покоилась в своих четырех хорошо знакомых стенах.
