@import 'lib/normalize';
@import 'lib/grid';
@import 'lib/global';

@import 'plugins/owl.carousel';
@import 'plugins/slick';
@import 'plugins/popup';
@import 'plugins/selectbox';
@import 'plugins/multiselect';
@import 'plugins/mCustomScrollbar';

@import 'models/header';
@import 'models/filters';
@import 'models/banners';
@import 'models/breadcrumbs';
@import 'models/pagination';
@import 'models/gallery';

@import 'models/catalog';
@import 'models/company';
@import 'models/cabinet';
@import 'models/profile';
@import 'models/basket';
@import 'models/buy';
@import 'models/create';
@import 'models/favorites';
@import 'models/contacts';
@import 'models/faq';
@import 'models/directory';
@import 'models/main__page';
@import 'models/crud';

.cookies__alert {
  position: fixed;
  bottom: 80px;
  left: 50%;
  z-index: 333;
  width: 724px;
  margin-left: -362px;
  background-color: #ffffff;
  box-shadow: 0 10px 40px rgba(#000000, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;

  &--text {
    display: block;
    flex: 1;
    padding-right: 20px;
    font-size: 16px;
    line-height: 1.2;
    color: #666666;

    a {
      text-decoration: underline;
      color: #1d7fe0;

      &:hover {
        color: #101010;
      }
    }
  }

  &--button {
    flex: none;

    .btn.blue {
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px 30px;
      span {
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
      }
    }
  }

  @include smallDown {
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
  }

  @media only screen and (max-width: 480px) {
    display: block;

    &--text {
      padding: 0 0 20px;
    }
  }
}

.mCSB_dragger_bar {
  background-color: #1d7fe0 !important;
}

select {
  display: none;
}
