.breadcrumbs
  ul
    li: a(href="") Scoutberlin
    li.dropdown
      a(data-toggle="dropdown") Автомобили
      .dropdown-menu
        ul
          li: a.active(href="") Автомобили
          li: a(href="") Строительство
          li: a(href="") Ремонт
          li: a(href="") Кулинария
          li: a(href="") Продажи
          li: a(href="") Туризм
    li: span Hyundai Tucson
