.catalog__viewed
  .container
    h2 Ранее просмотренные объявления
    .owl-carousel(data-carousel='viewed')
      - for(i=1;i<=15;i++)
        .slide: a(href="").catalog__grid--item
          .image: img(src="img/catalog-item.png", alt="")
          span.caption
            span.caption__title Harley Benton
            span.caption__info
              span.caption__price $ 35 000 
