.company__panel
  .company__panel--item
    a.btn.block.blue(data-mfp-src="#message" data-mfp-type="inline")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M23 1.9l-.1-.3v-.1l-.2-.3-.3-.2h-.1L22 .9V1l-.3.1-20 7c-.4.1-.7.4-.7.9 0 .4.2.8.6 1l8.6 3.8 3.8 8.6c.2.4.5.6.9.6s.8-.3.9-.7l7-20c.2-.1.2-.2.2-.4 0 .1 0 .1 0 0zm-4.8 2.5l-7.4 7.4-6.1-2.7 13.5-4.7zm-3.3 14.9l-2.7-6.1 7.4-7.4-4.7 13.5z")
      span Отправить сообщение
  .company__panel--item.phone
    .item--label Телефон:
    span +434 234 XX XX
    a(href="") Показать
  .company__panel--item.user
    .item--label Контактное лицо:
    span Константин Константинопольский
  .company__panel--item.site
    .item--label Сайт:
    a(href="http://www.example.com" target="_blank") www.example.com
    span 100 переходов
  .company__panel--item.adress
    .item--label Адрес:
    span Motorstraße 895, 70219 Stuttgart, Germany
  .map--container: #company_map
