.company__comments
  .company__comments--header
    | Комментарии 
    span.counter
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M19 2H5a3 3 0 0 0-3 3v16c0 .4.2.8.6.9l.4.1c.3 0 .5-.1.7-.3L7.4 18H19a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3zm1 13c0 .6-.4 1-1 1H7a1 1 0 0 0-.7.3L4 18.6V5c0-.6.4-1 1-1h14c.6 0 1 .4 1 1v10z")
      span 25
  .company__comments--form
    .form--input: textarea(cols="30", rows="10", placeholder="Ваш комментарий")
    .form--rating
      .form--rating__label Ваша оценка
      .rating-stars
        input#rating-5(name='rating', type='radio', value='5')
        label(for='rating-5', data-value='5')
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        input#rating-4(name='rating', type='radio', value='4')
        label(for='rating-4', data-value='4')
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        input#rating-3(name='rating', type='radio', value='3')
        label(for='rating-3', data-value='3')
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        input#rating-2(name='rating', type='radio', value='2')
        label(for='rating-2', data-value='2')
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        input#rating-1(name='rating', type='radio', value='1')
        label(for='rating-1', data-value='1')
          svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
    .form--control: button.btn.block.blue
      //(data-mfp-src="#message" data-mfp-type="inline")
      svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): path(d="M23 1.9l-.1-.3v-.1l-.2-.3-.3-.2h-.1L22 .9V1l-.3.1-20 7c-.4.1-.7.4-.7.9 0 .4.2.8.6 1l8.6 3.8 3.8 8.6c.2.4.5.6.9.6s.8-.3.9-.7l7-20c.2-.1.2-.2.2-.4 0 .1 0 .1 0 0zm-4.8 2.5l-7.4 7.4-6.1-2.7 13.5-4.7zm-3.3 14.9l-2.7-6.1 7.4-7.4-4.7 13.5z")
      span Отправить
  .company__comments--list
    .comment
      .comment__header
        .comment__header--author Константин Константинопольский
        .comment__header--rate(data-value="5")
          -for(i=1;i<=5;i++)
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        .comment__header--date Jun 18, 2018
      .comment__body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
    .comment
      .comment__header
        .comment__header--author Константин Константинопольский
        .comment__header--rate(data-value="4")
          -for(i=1;i<=5;i++)
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        .comment__header--date Jun 18, 2018
      .comment__body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
    .comment
      .comment__header
        .comment__header--author Константин Константинопольский
        .comment__header--rate(data-value="3")
          -for(i=1;i<=5;i++)
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        .comment__header--date Jun 18, 2018
      .comment__body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
    .comment
      .comment__header
        .comment__header--author Константин Константинопольский
        .comment__header--rate(data-value="2")
          -for(i=1;i<=5;i++)
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        .comment__header--date Jun 18, 2018
      .comment__body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
    .comment
      .comment__header
        .comment__header--author Константин Константинопольский
        .comment__header--rate(data-value="1")
          -for(i=1;i<=5;i++)
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        .comment__header--date Jun 18, 2018
      .comment__body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
    .comment
      .comment__header
        .comment__header--author Константин Константинопольский
        .comment__header--rate(data-value="0")
          -for(i=1;i<=5;i++)
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24'): polygon(points='12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2')
        .comment__header--date Jun 18, 2018
      .comment__body Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
