.catalog__filter
  .catalog__filter--block
    h4 Категории
    ul
      li: a(href="").active Авто
      li: a(href="") Одежда
      li: a(href="") Товары для дома
      li: a(href="") Недвижимость
      li: a(href="") Знакомства
  .catalog__filter--block
    h4 Цена
    .inline_inputs
      input(type="text", placeholder="от")
      input(type="text", placeholder="до")
  .catalog__filter--block
    h4 Тип предложения
    .checkbox
      input#offer_sell(type="checkbox")
      label(for="offer_sell") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Куплю
    .checkbox
      input#offer_buy(type="checkbox")
      label(for="offer_buy") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Продам
  .catalog__filter--block
    h4 Тип объявления
    .checkbox
      input#add_private(type="checkbox")
      label(for="add_private") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Частное
    .checkbox
      input#offer_commerce(type="checkbox")
      label(for="offer_commerce") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Коммерческое
  .catalog__filter--block
    h4 Регионы
    .checkbox
      input#region_id1(type="checkbox")
      label(for="region_id1") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Berlin and Brandenburg
        small 2
    .checkbox
      input#region_id2(type="checkbox")
      label(for="region_id2") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Saxony
        small 4
    .checkbox
      input#region_id3(type="checkbox")
      label(for="region_id3") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis ТThuringia
        small 1223
    .checkbox
      input#region_id4(type="checkbox")
      label(for="region_id4") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Franconia
        small 2
    .checkbox
      input#region_id5(type="checkbox")
      label(for="region_id5") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Baden-Württemberg
        small 1
