.catalog__filter
  .catalog__filter--block
    h4 Справочник компаний
    ul
      li: a(href="").active Авто
      li: a(href="") Одежда
      li: a(href="") Товары для дома
      li: a(href="") Недвижимость
      li: a(href="") Знакомства
  .catalog__filter--block
    h4 Регионы
    .checkbox
      input#region_id1(type="checkbox")
      label(for="region_id1") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Berlin and Brandenburg
        small 2
    .checkbox
      input#region_id2(type="checkbox")
      label(for="region_id2") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Saxony
        small 4
    .checkbox
      input#region_id3(type="checkbox")
      label(for="region_id3") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis ТThuringia
        small 1223
    .checkbox
      input#region_id4(type="checkbox")
      label(for="region_id4") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Franconia
        small 2
    .checkbox
      input#region_id5(type="checkbox")
      label(for="region_id5") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span.text--ellipsis Baden-Württemberg
        small 1
  .catalog__filter--block
    h4 Языки общения
    .checkbox
      input#lang_id1(type="checkbox" checked)
      label(for="lang_id1") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Русский
    .checkbox
      input#lang_id2(type="checkbox")
      label(for="lang_id2") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Английский
    .checkbox
      input#lang_id3(type="checkbox")
      label(for="lang_id3") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Немецкий
    .checkbox
      input#lang_id4(type="checkbox")
      label(for="lang_id4") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Испанский
    .checkbox
      input#lang_id5(type="checkbox")
      label(for="lang_id5") 
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"): polyline(points="20 6 9 17 4 12")
        span Французский
