<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Заголовок страницы
    <meta name="description" content="Описание страницы сайта." />
    <meta name="keywords" content="ключевые слова" />
    link(rel="stylesheet", href="css/styles.min.css")
  body
    header.base__header Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate non id possimus quod. Ipsa autem, id cumque inventore accusantium dolorem consequuntur recusandae placeat quidem! Accusantium praesentium quae eaque optio magni?
    main.base__content: block content
    footer.base__footer Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate non id possimus quod. Ipsa autem, id cumque inventore accusantium dolorem consequuntur recusandae placeat quidem! Accusantium praesentium quae eaque optio magni?




